<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.athleeto.go" android:versionCode="6" android:versionName="6">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.INTERNET" />
	<permission android:name="com.athleeto.go.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="com.athleeto.go.permission.C2D_MESSAGE" />
	<application android:label="Athleeto">
		<receiver android:name="com.onesignal.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="com.athleeto.go" />
			</intent-filter>
		</receiver>
	</application>
</manifest>